.footer {
  width: 100%;
  background-color: #979794;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 2rem;
  position: relative;
}

.footernav li {
  list-style-type: none;
  color: #fff;
  margin-bottom: 0.5rem;
}

.footernav li:hover {
  font-weight: 700;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #fff;
}

.bottomText {
  position: absolute;
  bottom: 0.5rem;
  width: 90%;
  left: 5%;
  right: 5%;
  font-size: 0.8rem;
}

.footermid {
  width: 30%;
  margin-bottom: 4rem;
}

.footerright ul {
  list-style-type: none;
  color: #fff;
}

.footerright li {
  margin-bottom: 0.5rem;
}

.footernav {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
  margin-left: 2rem;
}

.footernav ul {
  padding: 0;
  margin: 0;
}

.footernav p {
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.footerright {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right;
  flex-direction: column;
  margin-right: 2rem;
}

.footerright ul {
  padding: 0;
  margin: 0;
}

.footerright p {
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.rightNav li {
  cursor: pointer;
}

.rightNav li:hover {
  font-weight: 700;
}

@media screen and (max-width: 824px) {
  .footer {
    justify-content: center;
    flex-direction: column;
  }
  .footermid, .footernav, .footerright {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .footerright {
    margin-bottom: 6rem;
  }
}
@media screen and (max-width: 459px) {
  .footerright {
    margin-bottom: 8rem;
  }
}
