.footer {
  width: 100%;
  background-color: #979794;
  display: flex;
}

.footernav li {
  list-style-type: none;
  color: #fff;
  line-height: 30px;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 3rem;
}
