.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  width: 100%;
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.headerGrey {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  width: 100%;
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #979794;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  width: 50%;
  margin-top: 4rem;
  margin-right: 5%;
}

.header li {
  padding-left: 2rem;
  color: #fff;
}

.headerGrey ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  width: 50%;
  margin-top: 4rem;
  margin-right: 5%;
}

.headerGrey li {
  padding-left: 2rem;
  color: #fff;
}

.navigation {
  display: hidden;
}

.image {
  width: 50%;
  opacity: 0.9;
}

.topright {
  display: flex;
  color: #fff;
  width: 50%;
  flex-direction: row;
  position: absolute;
  top: 1rem;
  right: 6.5%;
  justify-content: flex-end;
  align-items: center;
}

.toprightinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 6rem;
}

.navDropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -2rem;
  left: 2.1rem;
  padding: 0;
  margin: 0;
  width: 26rem;
}

.navDropdown2 {
  position: relative;
  display: flex;
  left: 0;
  margin-top: -42%;
  width: 25vw;
  height: 40vh;
}


.navDropdown2 li {
  background-color: #ededed;
  position: relative;
}

.navList {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.navListGrey {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: #979794;
  width: 100%;
}

.navDropdown li {
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 12rem;
  cursor: pointer;
}

.navList li:hover {
  font-weight: bold;
}

.navListGrey li:hover {
  font-weight: bold;
}

@media screen and (min-width: 1108px) and (max-width: 1352px) {
  .header ul {
    width: 80%;
  }

}

@media screen and (min-width: 783px) and (max-width: 1107px) {
  .header ul {
    width: 95%;
    margin-right: 0;
    justify-content: center;
  }
  .header li {
    padding-right: 2rem;
  }
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    max-width: 1107px;
  }
  .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .topright {
    width: 100%;
    justify-content: center;
  }
  .headerGrey {
    display: none;
  }

  .navDropdown ul {
    padding: 0px;
    display: inline;
    margin: auto;
    margin-left: 5%;
    margin-top: 15%;
  }

  .navList li {
    display: inline-block;
    left: -100px;
    float: left;
  }
}

@media screen and (max-width: 782px) {
  .header ul {
    display: none;
    /* flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 1rem; */
  }
  .header li {
    display: none;
    /* padding: 0;
    margin-bottom: 0.5rem; */
  }
  .header {
    position: absolute;
    max-width: 782px;
    padding: 0;
    flex-direction: column;
  }
  .headerGrey {
    display: none !important;
  }

  .navigation {
    display: block;
  }

  .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .topright {
    width: 100%;
    justify-content: center;
  }

  
}

@media screen and (max-width: 569px) {
  .topright {
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .image {
    margin-top: 6rem;
  }
}
