.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  width: 100%;
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.headerGrey {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  width: 100%;
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #979794;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  width: 50%;
  margin-top: 4rem;
  margin-right: 5%;
}

.header li {
  padding-left: 2rem;
  color: #fff;
}

.headerGrey ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  width: 50%;
  margin-top: 4rem;
  margin-right: 5%;
}

.headerGrey li {
  padding-left: 2rem;
  color: #fff;
}

.image {
  width: 50%;
  opacity: 0.9;
}

.topright {
  display: flex;
  color: #fff;
  width: 50%;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 6.5%;
  justify-content: flex-end;
}

.toprightinfo {
  display: flex;
  padding-left: 6rem;
}

.toprightsvg {
  position: relative;
  top: 10px;
}

.navDropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -2rem;
  left: 1.5rem;
  padding: 0;
  margin: 0;
  width: 26rem;
}

.navList {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.navListGrey {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: #979794;
  width: 100%;
}

.navDropdown li {
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  width: 12rem;
  cursor: pointer;
}

.navList li:hover {
  font-weight: bold;
}

.navListGrey li:hover {
  font-weight: bold;
}

@media screen and (min-width: 1108px) and (max-width: 1352px) {
  .header ul {
    width: 80%;
  }
}

@media screen and (min-width: 783px) and (max-width: 1107px) {
  .header ul {
    width: 95%;
    margin-right: 0;
    justify-content: center;
  }
  .header li {
    padding-right: 2rem;
  }
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    max-width: 1107px;
  }
  .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .topright {
    width: 100%;
    justify-content: center;
  }
  .headerGrey {
    display: none;
  }
}

@media screen and (max-width: 782px) {
  .header ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 1rem;
  }
  .header li {
    padding: 0;
    margin-bottom: 0.5rem;
  }
  .header {
    position: absolute;
    max-width: 782px;
    padding: 0;
    flex-direction: column;
  }
  .headerGrey {
    display: none !important;
  }
  .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .topright {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 569px) {
  .topright {
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .image {
    margin-top: 6rem;
  }
}
