.back {
  background-image: url("../public/rescue_header.jpg");
  background-size: 140%;
  background-position: left 80% top 12%;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 60%;
  box-shadow: inset 2000px 2000px rgba(0, 0, 0, 0.5);
  position: relative;
}

.text {
  color: #fff;
  width: 100%;
  padding-top: 28rem;
  margin-left: 6rem;
  padding-bottom: 6rem;
}

.text h1 {
  font-size: 5rem;
  margin: 0;
}

.text p:nth-of-type(1) {
  font-size: 2rem;
  margin: 0;
}

.text p:nth-of-type(2) {
  font-size: 1rem;
  margin: 0;
}

.nav {
  width: 100%;
  background-color: #979794;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 1rem;
}

.btmbar {
  color: #fff;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 19%;
}
.btmbar p {
  margin: 0;
}

.svg {
  width: 24rem;
}

.owners {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-left: 20%;
  margin-right: 20%;
}

.AI {
  position: relative;
  z-index: 3;
  display: flex;
  left: 24rem;
  margin-top: 3rem;
}

.article {
  color: #002d62;
  margin-left: 4rem;
}

.para {
  width: 35%;
}

.bp {
  width: 28rem;
  background-color: #979794;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

.help {
  width: 50%;
  margin-left: 24rem;
  margin-top: 5rem;
  color: #002d62;
}

.capsec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.capitol {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18%;
}

.prosec {
  margin-right: 15%;
}

.product {
  display: flex;
  flex-direction: column;
  width: 65%;
  background-color: #002d62;
  border-radius: 25px;
  color: #fff;
  padding-left: 1rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  margin: 0;
}

.learn {
  text-decoration: underline;
  margin-left: 2.5rem;
  margin-bottom: -1rem;
}
