.news {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  color: #002d62;
}

.newspara {
  width: 50%;
  margin-left: 3rem;
  text-align: justify;
}

.img {
  float: left;
  margin: 1rem;
  margin-right: 2rem;
}

.spacer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 77%;
}

.attorneybar {
  background-color: #979794;
  width: 52%;
  display: flex;
  color: #fff;
  font-size: 2rem;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 1rem;
  margin-top: 6rem;
  position: relative;
}

.attorneybar p {
  margin: 0;
}

.caseSec {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.newsArts {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.dropStatus {
  position: absolute;
  right: 2rem;
  font-size: 1rem;
  text-decoration: underline;
  font-weight: 700;
  top: 40%;
  bottom: 40%;
}